:root {
    --teal: #19ABCD;
    --white: #ffffff;
    --black: #000000;
  }
  * {
    color: var(--fontColor);
    font-family: helvetica;
  }
  body {
      background: var(--bg);
  }


ul {
    font-family: helvetica;
}

li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
  }

  .light-theme {
    --bg: var(--teal);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--teal);
  }
  .dark-theme {
    --bg: var(--black);
    --fontColor: var(--teal);
    --btnBg: var(--teal);
    --btnFontColor: var(--black);
  }
  .btn {
    position: absolute;
    top: 80px;
    left: 800px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
  }
  .btn:focus { outline-style: none; }

  .topnav {
    overflow: hidden;
    background-color: #199acd
}

.topnav a{
    float:left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #429ef5;
    color: white;
}

.topnav .icon {
    display: none;
}

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

